*{
  box-sizing: border-box;
}
.header{
  display:flex;
  justify-content: space-around;
}
ul{
  display: flex;
}

li{
  list-style-type: none;
  padding: 1rem;
}
 .icons{
  padding: 2rem;
}
.bgimage{
  background: url(./assets/header-img.png);
}
img{
  max-width: 100%;
}
.category{
  display: flex;
  padding: 5rem;
}
.women-category{
  padding: 0rem 5rem;
}
.women-category-img >img{
  padding: .7rem;
}
.men-category{
  padding: 0rem 5rem;
}
.men-category-img >img{
  padding: .7rem;
}
.footer{
  display: flex;
  justify-content: space-around;
}
.right div{
  display: inline-block;
}